<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>customer_login</servlet-name>
  	<display-name>customer_login</display-name>
  	<description></description>
  	<servlet-class>customer_login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>customer_signup</servlet-name>
  	<display-name>customer_signup</display-name>
  	<description></description>
  	<servlet-class>customer_signup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>s_login</servlet-name>
  	<display-name>s_login</display-name>
  	<description></description>
  	<servlet-class>s_login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>s_signup</servlet-name>
  	<display-name>s_signup</display-name>
  	<description></description>
  	<servlet-class>s_signup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>customer_home</servlet-name>
  	<display-name>customer_home</display-name>
  	<description></description>
  	<servlet-class>customer_home</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>specialist_home</servlet-name>
  	<display-name>specialist_home</display-name>
  	<description></description>
  	<servlet-class>specialist_home</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<display-name>DeleteServlet</display-name>
  	<description></description>
  	<servlet-class>DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditServlet</servlet-name>
  	<display-name>EditServlet</display-name>
  	<description></description>
  	<servlet-class>EditServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>customer_login</servlet-name>
  	<url-pattern>/customer_login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>customer_signup</servlet-name>
  	<url-pattern>/customer_signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>s_login</servlet-name>
  	<url-pattern>/s_login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>s_signup</servlet-name>
  	<url-pattern>/s_signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>customer_home</servlet-name>
  	<url-pattern>/customer_home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>specialist_home</servlet-name>
  	<url-pattern>/specialist_home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditServlet</servlet-name>
  	<url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>
